<?xml version="1.0" encoding="UTF-8" ?>
<!-- Apache Commons Configuration -->
<configuration>
        <properties fileName="replication.properties"/>
        <properties fileName="d1client.properties"/>
        <properties fileName="ldapService.properties"/>
        <properties fileName="registryLdap.properties"/>
        <properties fileName="identityLdap.properties"/>
        <properties fileName="auth.properties"/>
        <properties fileName="reserveIdentifier.properties"/>
        <properties fileName="file:/etc/dataone/process/synchronization.properties"/>
        <properties fileName="file:/etc/dataone/process/logAggregation.properties"/>
        <properties fileName="file:/etc/dataone/node.properties"/>
</configuration>