<?xml version="1.0" encoding="UTF-8" ?>
<!-- Apache Commons Configuration -->
<configuration>
    <header>
        <result delimiterParsingDisabled="true" forceReloadCheck="true" />
    </header>
    <properties fileName="file:/etc/dataone/process/synchronization.properties">
        <reloadingStrategy refreshDelay="5000"
                               config-class="org.apache.commons.configuration.reloading.FileChangedReloadingStrategy"/>
    </properties>
    <properties fileName="file:/etc/dataone/process/logAggregation.properties">
        <reloadingStrategy refreshDelay="5000"
                               config-class="org.apache.commons.configuration.reloading.FileChangedReloadingStrategy"/>
    </properties>
    <properties fileName="file:/etc/dataone/process/replication.properties">
        <reloadingStrategy refreshDelay="5000"
                               config-class="org.apache.commons.configuration.reloading.FileChangedReloadingStrategy"/>
    </properties>
    <properties fileName="file:/etc/dataone/node.properties" />

    <properties fileName="file:/etc/dataone/process/d1client.properties" />

    <properties fileName="ldapService.properties"/>
    <properties fileName="registryLdap.properties"/>
    <properties fileName="identityLdap.properties"/>
    <properties fileName="auth.properties"/>
    <properties fileName="reserveIdentifier.properties"/>
</configuration>